:root {
  --accent-foreground: #0c4a6e;
  --accent: #f4f4f5;
  --background: #ffffff;
  --border: #d4d4d8;
  --card-foreground: #09090b;
  --card: #ffffff;
  --chart-1: #2a9d90;
  --chart-2: #e76e50;
  --chart-3: #274754;
  --chart-4: #e8c468;
  --chart-5: #f4a462;
  --destructive-foreground: #fef2f2;
  --destructive: #dc2626;
  --foreground: #18181b;
  --input: #e4e4e7;
  --muted-foreground: #71717a;
  --muted: #e4e4e7;
  --popover-foreground: #09090b;
  --popover: #ffffff;
  --primary-foreground: #fafafa;
  --primary: #0c4a6e;
  --ring: #18181b;
  --secondary-foreground: #18181b;
  --secondary: #e4e4e7;
  --sidebar-accent-foreground: #18181b;
  --sidebar-accent: #f4f4f5;
  --sidebar-background: #fafafa;
  --sidebar-border: #e5e7eb;
  --sidebar-foreground: #3f3f46;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-primary: #18181b;
  --sidebar-ring: #a1a1aa;
  --accent-dark: #075985;
  --accent-foreground-dark: #fafafa;
  --accent-foreground-light: #0c4a6e;
  --accent-light: #f4f4f5;
  --background-dark: #082f49;
  --background-light: #ffffff;
  --border-dark: #0369a1;
  --border-light: #d4d4d8;
  --card-dark: #082f49;
  --card-foreground-dark: #fafafa;
  --card-foreground-light: #09090b;
  --card-light: #ffffff;
  --chart-1-dark: #2662d9;
  --chart-1-light: #2a9d90;
  --chart-2-dark: #e23670;
  --chart-2-light: #e76e50;
  --chart-3-dark: #e88c30;
  --chart-3-light: #274754;
  --chart-4-dark: #af57db;
  --chart-4-light: #e8c468;
  --chart-5-dark: #2eb88a;
  --chart-5-light: #f4a462;
  --destructive-dark: #7f1d1d;
  --destructive-foreground-dark: #fef2f2;
  --destructive-foreground-light: #fef2f2;
  --destructive-light: #dc2626;
  --foreground-dark: #fafafa;
  --foreground-light: #18181b;
  --input-dark: #075985;
  --input-light: #e4e4e7;
  --muted-dark: #075985;
  --muted-foreground-dark: #a1a1aa;
  --muted-foreground-light: #71717a;
  --muted-light: #e4e4e7;
  --popover-dark: #09090b;
  --popover-foreground-dark: #fafafa;
  --popover-foreground-light: #09090b;
  --popover-light: #ffffff;
  --primary-dark: #bae6fd;
  --primary-foreground-dark: #18181b;
  --primary-foreground-light: #fafafa;
  --primary-light: #0c4a6e;
  --ring-dark: #d4d4d8;
  --ring-light: #18181b;
  --secondary-dark: #0369a1;
  --secondary-foreground-dark: #fafafa;
  --secondary-foreground-light: #18181b;
  --secondary-light: #e4e4e7;
  --sidebar-accent-dark: #27272a;
  --sidebar-accent-foreground-dark: #f4f4f5;
  --sidebar-accent-foreground-light: #18181b;
  --sidebar-accent-light: #f4f4f5;
  --sidebar-background-dark: #18181b;
  --sidebar-background-light: #fafafa;
  --sidebar-border-dark: #27272a;
  --sidebar-border-light: #e5e7eb;
  --sidebar-foreground-dark: #f4f4f5;
  --sidebar-foreground-light: #3f3f46;
  --sidebar-primary-dark: #1d4ed8;
  --sidebar-primary-foreground-dark: #ffffff;
  --sidebar-primary-foreground-light: #fafafa;
  --sidebar-primary-light: #18181b;
  --sidebar-ring-dark: #d4d4d8;
  --sidebar-ring-light: #a1a1aa;
  --blur: 8;
  --blur-2xl: 40;
  --blur-3xl: 64;
  --blur-lg: 16;
  --blur-md: 12;
  --blur-none: 0;
  --blur-sm: 4;
  --blur-xl: 24;
  --border-0: 0px;
  --border-1: 1px;
  --border-2: 2px;
  --border-4: 4px;
  --border-8: 8px;
  --breakpoint-2xl: 1536px;
  --lg: 1024px;
  --md: 768px;
  --sm: 640px;
  --xl: 1280px;
  --example-50: #ffffff;
  --normal: 0;
  --tight: -0.4;
  --tighter: -0.8;
  --wide: 0.4;
  --wider: 0.8;
  --widest: 1.6;
  --leading-10: 40;
  --leading-3: 12;
  --leading-4: 16;
  --leading-5: 20;
  --leading-6: 24;
  --leading-7: 28;
  --leading-8: 32;
  --leading-9: 36;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;
  --text-9xl: 128px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xl: 20px;
  --text-xs: 12px;
  --italic: italic;
  --not-italic: normal;
  --black: 900;
  --bold: 700;
  --extrabold: 800;
  --extralight: 200;
  --light: 300;
  --medium: 500;
  --semibold: 600;
  --thin: 100;
  --h-0: 0px;
  --h-1: 4px;
  --h-10: 40px;
  --h-11: 44px;
  --h-12: 48px;
  --h-14: 56px;
  --h-16: 64px;
  --h-2: 8px;
  --h-20: 80px;
  --h-24: 96px;
  --h-28: 112px;
  --h-3: 12px;
  --h-32: 128px;
  --h-36: 144px;
  --h-4: 16px;
  --h-44: 176px;
  --h-48: 192px;
  --h-5: 20px;
  --h-52: 208px;
  --h-56: 224px;
  --h-6: 24px;
  --h-64: 256px;
  --h-7: 28px;
  --h-72: 288px;
  --h-8: 32px;
  --h-80: 320px;
  --h-9: 36px;
  --h-96: 384px;
  --h-px: 1px;
  --max-w-0: 0;
  --max-w-2xl: 672px;
  --max-w-2xs: 288px;
  --max-w-3xl: 768px;
  --max-w-3xs: 256px;
  --max-w-4xl: 896px;
  --max-w-5xl: 1024px;
  --max-w-6xl: 1152px;
  --max-w-7xl: 1280px;
  --max-w-lg: 512px;
  --max-w-md: 448px;
  --max-w-sm: 384px;
  --max-w-xl: 576px;
  --max-w-xs: 320px;
  --opacity-0: 0;
  --opacity-10: 10;
  --opacity-100: 100;
  --opacity-15: 15;
  --opacity-20: 20;
  --opacity-25: 25;
  --opacity-30: 30;
  --opacity-35: 35;
  --opacity-40: 40;
  --opacity-45: 45;
  --opacity-5: 5;
  --opacity-50: 50;
  --opacity-55: 55;
  --opacity-60: 60;
  --opacity-65: 65;
  --opacity-70: 70;
  --opacity-75: 75;
  --opacity-80: 80;
  --opacity-85: 85;
  --opacity-90: 90;
  --opacity-95: 95;
  --rounded: 4px;
  --rounded-2xl: 16px;
  --rounded-3xl: 24px;
  --rounded-4xl: 32px;
  --rounded-full: 9999px;
  --rounded-lg: 8px;
  --rounded-md: 6px;
  --rounded-none: 0px;
  --rounded-sm: 2px;
  --rounded-xl: 12px;
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-28: 112px;
  --spacing-32: 128px;
  --spacing-36: 144px;
  --spacing-40: 160px;
  --spacing-44: 176px;
  --spacing-48: 192px;
  --spacing-52: 208px;
  --spacing-56: 224px;
  --spacing-60: 240px;
  --spacing-64: 256px;
  --spacing-72: 288px;
  --spacing-80: 320px;
  --spacing-96: 384px;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --spacing-3-5: 14px;
  --px: 1px;
  --w-0: 0px;
  --w-1: 4px;
  --w-10: 40px;
  --w-11: 44px;
  --w-12: 48px;
  --w-14: 56px;
  --w-16: 64px;
  --w-2: 8px;
  --w-20: 80px;
  --w-24: 96px;
  --w-28: 112px;
  --w-3: 12px;
  --w-32: 128px;
  --w-36: 144px;
  --w-4: 16px;
  --w-44: 176px;
  --w-48: 192px;
  --w-5: 20px;
  --w-52: 208px;
  --w-56: 224px;
  --w-6: 24px;
  --w-64: 256px;
  --w-7: 28px;
  --w-72: 288px;
  --w-8: 32px;
  --w-80: 320px;
  --w-9: 36px;
  --w-96: 384px;
  --w-px: 1px;
  --alpha-10: rgba(255, 255, 255, 0.9000);
  --alpha-20: rgba(255, 255, 255, 0.8000);
  --alpha-30: rgba(255, 255, 255, 0.7000);
  --alpha-40: rgba(255, 255, 255, 0.6000);
  --alpha-50: rgba(255, 255, 255, 0.5000);
  --alpha-60: rgba(255, 255, 255, 0.4000);
  --alpha-70: rgba(255, 255, 255, 0.3000);
  --alpha-80: rgba(255, 255, 255, 0.2000);
  --alpha-90: rgba(255, 255, 255, 0.1000);
  --accent: #f4f4f5;
  --accent-foreground: #0c4a6e;
  --background: #ffffff;
  --border: #d4d4d8;
  --card: #ffffff;
  --card-foreground: #09090b;
  --chart-1: #2a9d90;
  --chart-2: #e76e50;
  --chart-3: #274754;
  --chart-4: #e8c468;
  --chart-5: #f4a462;
  --destructive: #dc2626;
  --destructive-foreground: #fef2f2;
  --foreground: #18181b;
  --input: #e4e4e7;
  --muted: #e4e4e7;
  --muted-foreground: #71717a;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #0c4a6e;
  --primary-foreground: #fafafa;
  --ring: #18181b;
  --ring-offset: #ffffff;
  --secondary: #e4e4e7;
  --secondary-foreground: #18181b;
  --sidebar-accent: #f4f4f5;
  --sidebar-accent-foreground: #18181b;
  --sidebar-background: #fafafa;
  --sidebar-border: #e5e7eb;
  --sidebar-foreground: #1d4ed8;
  --sidebar-primary: #18181b;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-ring: #a1a1aa;
}

.dark {
  --accent: #075985;
  --accent-foreground: #fafafa;
  --background: #082f49;
  --border: #0369a1;
  --card: #082f49;
  --card-foreground: #fafafa;
  --chart-1: #2662d9;
  --chart-2: #e23670;
  --chart-3: #e88c30;
  --chart-4: #af57db;
  --chart-5: #2eb88a;
  --destructive: #7f1d1d;
  --destructive-foreground: #fef2f2;
  --foreground: #fafafa;
  --input: #075985;
  --muted: #075985;
  --muted-foreground: #a1a1aa;
  --popover: #09090b;
  --popover-foreground: #fafafa;
  --primary: #bae6fd;
  --primary-foreground: #18181b;
  --ring: #d4d4d8;
  --secondary: #0369a1;
  --secondary-foreground: #fafafa;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #f4f4f5;
  --sidebar-background: #18181b;
  --sidebar-border: #27272a;
  --sidebar-foreground: #f4f4f5;
  --sidebar-primary: #1d4ed8;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-ring: #d4d4d8;
}
